.flex.bg-stone-300.text-5xl.px-5.py-4.text-center.mx-16.my-8.rounded(style='font-family:Impact')
    .w-full.text-stone-800.text-left
        div Bienvenido!
        .text-xl.font-light(style='font-family: Arial, Helvetica, sans-serif') #{user}
    a(href='/logout')
        button#logout.w-auto.bg-stone-600.px-4.py-2.text-white.text-xl.rounded.transition.duration-300(class='hover:bg-stone-800') Desconectar
