h1#chat-title.p-4.text-white.rounded.text-center.m-3.font-bold.text-4xl(class='bg-[#9180D6]') Chat
.my-8.p-5.rounded(class='w-3/4 bg-[#9180D6]')
    form#chat.flex.flex-col.w-full.gap-2.pb-2
        .flex.w-full.gap-2
            input#nickname.mt-1.block.px-3.py-2.bg-white.border.border-slate-300.rounded-md.text-sm.text-black.shadow-sm.placeholder-slate-400(type='text' placeholder='Ingrese su alias' class='w-3/6 focus:outline-none focus:border-green-500 focus:ring-1 focus:ring-green-500 invalid:border-zinc-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500')
            input#avatar.mt-1.block.w-full.px-3.py-2.bg-white.border.border-slate-300.rounded-md.text-sm.text-black.shadow-sm.placeholder-slate-400(type='url' placeholder='Ingrese la url su avatar' class='focus:outline-none focus:border-green-500 focus:ring-1 focus:ring-green-500 invalid:border-zinc-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500')
        .flex.w-full.gap-2
            input#message.mt-1.block.w-full.px-3.py-2.bg-white.border.border-slate-300.rounded-md.text-sm.text-black.shadow-sm.placeholder-slate-400(type='text' placeholder='Ingrese su mensaje' autocomplete='off' class='focus:outline-none focus:border-green-500 focus:ring-1 focus:ring-green-500')
            button.mt-1.px-4.w-auto.rounded.text-white(type='submit' class='bg-[#6C56C8]' title='Enviar')
                svg.bi.bi-send-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                    path(d='M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z')
    #mensajes.h-96.my-2.px-3.py-1.bg-zinc-100.rounded(style='overflow-wrap: break-word; overflow: auto; overflow-anchor: visible;')
script(src='/js/chat-client.js' type='module')
