if status
    if success
        .w-full.py-2.bg-green-700.text-white.font-bold.text-center Producto cargado exitosamente! Recargue la página para ver los cambios.
    else
        .w-full.py-2.bg-red-700.text-white.font-bold.text-center Hubo un problema al cargar los datos. Reviselos e intente de nuevo.

