extends ../layouts/main.pug
block content
    .w-full.h-full.bg-slate-100
    .flex.bg-slate-300.text-5xl.px-4.py-2.text-center.mx-16.my-8(style='font-family:Impact')
        .w-full.text-center.text-slate-700 Adios #{user}
    script(src='./../js/logout/logout.js')
